$max_width: 1720px;
$max_width: 1200px;
$main_accent: rgb(0, 119, 85);

:root {
    --main-bg-color: #{$main_accent};
    --main-accent: #{$main_accent};
    --max-width: #{$max_width};
    --main-gray: rgb(64, 64, 64);
    --header-height: 120px;
}

@font-face {
    font-family: "kit-icons";
    src: url("https://static.scc.kit.edu/kit-2020/fonts/kit-icons/kit-icons.ttf?2haur7") format("truetype"),
        url("https://static.scc.kit.edu/kit-2020/fonts/kit-icons/kit-icons.woff?2haur7") format("woff"),
        url("https://static.scc.kit.edu/kit-2020/fonts/kit-icons/kit-icons.svg?2haur7#kit-icons") format("svg");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans;
    font-size: 16px;
    min-height: 100vh;
}

.contentWrap {
    max-width: var(--max-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    position: relative;

    label {
        position: absolute;
        color: gray;
        transform: translateY(-100%);
        font-size: small;
    }
}

header {
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    position: fixed;
    z-index: 1;
    box-shadow: rgba(64, 64, 64, 0.5) 0 0 5px;
    background-color: white;
    color: var(--main-gray);

    logo {
        display: inline-flex;
        align-items: center;

        width: 150px;

        &[small] {
            svg {
                margin-top: 10px;
                width: 100px;
                .logo-text {
                    visibility: hidden;
                }
            }
        }
    }

    nav {
        height: 80px;
        font-size: 1em;
        font-weight: 300;

        ul {
            height: 50%;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: flex-end;
        }

        ul + ul {
            font-weight: 700;
        }

        li {
            display: inline;
            margin: 0px;
            padding: 0px;
            cursor: pointer;

            &:hover {
                color: var(--main-accent);

                svg {
                    fill: var(--main-accent);
                }
            }

            &[active] {
                border-bottom: 3px solid var(--main-accent);
            }

            svg {
                height: 0.75em;
                width: 0.75em;
            }
        }

        .login {
            background-color: var(--main-accent);
            border: 2px solid var(--main-accent);
            color: white;
            text-transform: uppercase;
            font-size: 80%;
            letter-spacing: 1px;
            padding: 4px 10px;

            &:hover {
                background-color: white;
                color: var(--main-accent);
            }
        }

        li + li {
            margin-left: 20px;
        }
    }
}

main {
    background-color: white;
    min-height: calc(100vh - 351px); // footer height + subfooter height + border = 351px

    a {
        color: var(--main-accent);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .contentWrap {
        flex-direction: column;
    }

    .banner {
        background-image: url("../img/banner2.png");
        height: 140px;
        margin-top: 120px;
        background-size: 100% 100%;
        width: 100%;
        position: relative;
        align-self: flex-start;

        .caption {
            font-size: 1.3em;
            font-weight: bolder;
            line-height: 24px;
            color: white;
            text-shadow: rgb(0, 0, 0) 0 0 8px;
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
    }

    .content {
        background-color: white;
        width: 100%;
        height: 100%;
        font-size: 1.25em;
        font-weight: 300;
        line-height: 1.4;

        h1 {
            font-weight: 700;
            font-size: 2.25em;
            color: var(--main-gray);

            &::after {
                content: "";
                width: 80px;
                display: block;
                transform: translateX(0) scaleX(1);
                border-bottom: 4px solid var(--main-bg-color);
            }
        }

        .searchBar {
            text-align: center;
            margin: 75px;

            input {
                border: 1px solid rgb(230, 230, 230);
                border-bottom: 4px solid $main_accent;
                text-align: center;
                font-size: larger;
            }
        }

        .summary {
            font-weight: 700;
        }
    }
}

footer {
    height: 300px;
    background-color: #f2f2f2;
    border-top: 1px solid rgb(230, 230, 230);

    .contentWrap {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .sbs {
            display: flex;
            justify-items: flex-start;
        }

        .footerBox {
            // background-color: crimson;
        }

        .footerBox + .footerBox {
            margin-left: 50px;
        }

        .contactBox {
            font-size: 16px;
            padding-top: 20px;

            img {
                width: 140px;
                height: 140px;
                padding-right: 20px;
            }

            h1 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;

                &::after {
                    content: "";
                    width: 80px;
                    display: block;
                    transform: translateX(0) scaleX(1) translateY(4px);
                    border-bottom: 4px solid var(--main-bg-color);
                }
            }

            a {
                color: var(--main-accent);
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}

.subfooter {
    height: 50px;
    background-color: #404040;
    color: white;
}
